@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  body{
    height: 100%;
    background-color: rgb(255, 255, 255);
  
   
  }

  .active
  {
    color:rgb(2, 8, 45);
  }
nav li {
    list-style-type: none;
    
}
nav li a{
    text-decoration: none;
}
#logo
{
    height: 50px;
    width: 60px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* vertical-align: center; */
    flex-wrap: wrap;
    justify-items: center;
    position: sticky;
    top: 0;
    background-color: #6970ff;
   

}
nav ul{
    display: flex;
    /* justify-items: center;
    flex-wrap: wrap; */
    align-items: center;
    
}
nav ul li{
    margin-right: 1.5rem;
    align-items: center;
}
nav ul li a{
    display: block;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
}
#name{
    color: rgb(2,8,45);
    /* font-family: "Cedarville Cursive", cursive; */
    font-size: 25px; 
    font-weight: 800;
}
nav ul li a:not(.active):hover
{
    background-color:rgba(14, 10, 86, 0.4);
}

.nav-icon{
    display: none;
    /* position: absolute;
    top: 10%;
    right: 0.5rem; */
}
.nav-menu{
    display: none;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
}

@media (max-width:960px) 
{

    
    nav{
        flex-direction: column;
        align-items:start;
    }
    
    nav ul{
        display: none;
        align-items: center;
        /* flex-direction: column; */
        /* width: 100%; */
        margin-bottom: 0.25rem;
    }
    nav ul li 
    {
        width: 100%;
        text-align: center;
    }
    nav ul li a
    {
       margin: 0.2rem 0.5rem; 
    }

    .nav-icon
    {
        display: block;
        position: absolute;
        top: 10%;
        right: 0.5rem;
        color: rgb(2, 8, 45);
        font-weight: bolder;
    }
    .nav-menu
    {
        display:block;
        /* flex-direction: column;
        align-items: center; */
       
    }


    
}

/* home */

.container {
   
    display: flex;
    justify-content: space-around;
}


#myimg
{
    height: 300px;
    width: 300px;
    
}
.container
{
    display: flex;
    justify-content: space-around;
   margin-top: 10%;
}
 .about
 {
    width: 600px;
 }

 @keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  #myimg {
    animation: floatUpDown 3s ease-in-out infinite;
  }

  @media (max-width:960px) {
    .about
    {
        width: auto;
    }
    .container
    {
        display: flex;
        flex-direction: column;
    }
    
  }
 .about q #text
 {
    color:rgb(2,8,45);
    font-weight: bold;
 }
 #myname
 {
    color: #6970ff;
 }
 .my-icons {
    display: flex;
  }
  
  .my-icons button {
  
    border: solid 1px rgb(10, 22, 97);
    margin-right: 10px;
    border-radius: 50%; /* Makes the button circular */
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(68, 78, 145);
    outline:none;
    /* border: none; */
  }
  
  .my-icons button:last-child {
    margin-right: 0;
  }
  
  .my-icons button:hover {
    background-color:rgb(2,8,45);
    color: white;
  }
  #cvbutton
  {
    background-color: rgb(68, 78, 145);
    color: white;
    border-radius: 20px;
    outline: none;
    border: none;
    height: 30px;
    width: 120px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
  }
 #cvbutton:hover
 {
    background-color: white;
    color:rgb(2,8,45);
    border: #6970ff;
    border: solid 1px;
 }
 /* about */

 #myimg2
 {
    height: 200px;
    width: 200px;
    /* background-image: url("https://res.cloudinary.com/dpfnyv0ut/image/upload/v1709043904/t8ersbeh7cvmbcrknjxb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
 }
 #myimg3
 {
    position: absolute;
    z-index: -1;
    left: 240px;
    bottom: 240px;
    height: 200px;
    width: 250px;
 }

 
 @keyframes floatUpDown2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  #myimg2{
    animation: floatUpDown2 3s ease-in-out infinite;
  }

@media (max-width:960px) {
    #myimg3
    {
        position: absolute;
        z-index: -1;
        left: 10px;
        top: 100px;
        bottom: 0px;
        height: 200px;
        width: 250px;
    }

    #contentdiv
    {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    
}
 